.fadeInUp {
    animation-delay: 2s;
    animation: fadeInUp 1s ease backwards;
}

@keyframes fadeInUp {
    0% {
        transform: translate(0px, 100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0);
        opacity: 1;
    }
}