#LProgressBar {
  span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.muirtl-gywchc-MuiLinearProgress-root {
    height: 30px;
    border-radius: 21px;
    border: 1px solid #fff;
    background-color: #FDF0D9;
  }

  span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.muirtl-erfxpi-MuiLinearProgress-bar1 {
    background: linear-gradient(263.01deg, #ffc860 -2.17%, #ff5f1e 99.77%);
    border-radius: 12px;
  }
}
