#LProgressBar {
 
  span.MuiLinearProgress-root{
    height: 30px;
    border-radius: 21px;
    border: 1px solid #fff;
    background-color: #FDF0D9;
  }
  span.MuiLinearProgress-bar{
    background: linear-gradient(263.01deg, #ffc860 -2.17%, #ff5f1e 99.77%);
    border-radius: 12px;
  }
}
