.missionsBox {
  span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.muirtl-gywchc-MuiLinearProgress-root {
    height: 25px;
    border-radius: 20px;
  }

  span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.muirtl-erfxpi-MuiLinearProgress-bar1 {
    border-radius: 20px;
    background: linear-gradient(255.62deg, #f19b02 50%, #e7bf79 99.49%);
  }

  span.MuiLinearProgress-root.MuiLinearProgress-colorPrimary.MuiLinearProgress-determinate.muirtl-gywchc-MuiLinearProgress-root {
    background-color: #fbf0d9;
  }
}
